/*
Theme Name: Two Dogs Web Development Theme
Author: TDWDev
Version: 1.0
*/

* {
    box-sizing: border-box;
  }
  
  h1, h2, h3, h4, p, span, a, button, input, select, textarea, label{
    font-family: 'Lato';
  }
  
  h1, h2, h3, h4, p, span, a, label{
    color: white;
  }
  
  h2{
    margin: .75rem 0;
  }
  
  p{
    line-height: 160%;
  }
  
  
  html{
    
    background-color: #00518D;
    overflow: hidden;
  }
  
  html, body{
    margin: 0;
    padding: 0;
  }
  
  body{
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
  
  body::before{
    content: '';
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/waterfront-resize.png');
    background-position: center;
    background-size: cover;
    background-repeat: none;
    filter: brightness(.4);
    z-index: -2;
  }
  
  body::after{
    content: '';
    background-color: #002f529f;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; 
    left: 0;
    z-index: -1;
  }
  
  h1{
    margin: 0;
  }
  
  h1 img{
    width: 300px;
    height: auto;
  }
  
  h2{
    font-size: 4rem;
  }
  
  ul{
    margin: 0;
    list-style-type: none;
  }
  
  a{
    color: white;
    text-decoration: none;
  }
  
  a:visited{
    color: white;
  }
  
  /* nav bar */
  
  nav{
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 1rem 0 0 2rem;
    margin-bottom: 1rem;
    scroll-snap-align: start;
  }
  
  nav ul{
    display: flex;
    justify-content: right;
    height: 45px;
  }
  
  nav ul div{
    display: flex;
    background-color: #00518D;
    align-items: center;
  }
  
  nav ul div:first-of-type, nav ul div:last-of-type{
    background-color: #0064AD;
  }
  
  nav ul div:first-of-type{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 20vw;
    justify-content: right;
  }
  
  nav ul li{
    margin: 0 2rem;
  }
  
  .slide{
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .slide:first-of-type{
    height: calc(100vh - 100px);
  }
  
  .slide:not(:first-of-type){
    scroll-snap-align: start;
  }
  
  .get-started a{
    background-color: white;
    color: #006DBD;
    border-radius: 4px;
    padding: .3rem .6rem;
  }
  
  /* container */
  
  .content.light{
    background-color: #00508d9a;
  }
  
  .heading{
    height: 250px;
    padding-left: 5rem;
    margin: 4rem 0
  }
  
  .heading p{
    font-size:1.3rem;
    padding-left: .25rem;
  }
  
  /* service */
  
  .service{
    display: inline-block;
    position: relative;
  }
  
  .learn-more-link{
    position: absolute;
    bottom: 0;
    border: 2px solid #007FDC;
    border-radius: 4px;
    padding: 1rem 2rem;
  }
  
  label{
    position: relative;
    margin: 0 2rem;
    font-weight: 100;
  }
  
  input[type='radio']{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  h3{
    display: inline-block;
    margin: 0;
  }
  
  .service-description-headings{
  
    padding-left: 3.5rem;
  }
  
  input[type='radio']:checked + h3{
    position: relative;
  }
  
  input[type='radio']:checked + h3::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: white;
  
  }
  
  .service-description{
    padding-left: 5.5rem;
    width: 80%;
    height: 200px;
  }
  
  .service-description > div > p{
    height: 150px;
  }
  
  .service-description > div{
    display: none;
    position: relative;
  }
  
  
  
  .service-description  > .active-service{
    display: block;
  }
  
  .service-description p{
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.699);
    font-weight: 100;
    margin-bottom: 3rem;
  }
  
  .service-description{
    display: flex;
    flex-wrap: wrap;
  }
  
  .service-description > div{
  
  }
  
  
  /* about */
  
  .services{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
  }
  
  
  .services > div{
    display: inline-block;
    width: 600px;
    margin: 0 2rem 0;
  }
  
  .services > div > div{
    margin: 2rem;
  }
  
  .services > div > div p{
    color: rgba(255, 255, 255, 0.63);
  }
  
  /* portfolio */
  
  .our-work{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .our-work li{
      flex: 1;
      min-width: 350px;
      max-width: 100%;
  }
  
 
  .our-work .window{
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: transparent;
    border: none;
    margin-top: .15rem;
    margin-bottom: .15rem;
  }

  .window img{
    width: 100%;
    filter: brightness(0.9);
    transition: all .2s ease-in-out;
}

.our-work li:hover img{
  filter: brightness(1);
}


  /* about us */
  
  
  .about-us{
    display: flex;
    justify-content: space-evenly;
  }
  
  .about-us > div{
    width: 600px;
    display: flex;
  }
  
  .about-us img{
    width: 150px;
  }
  
  .about-us > div div{
    margin-left: 1rem;
  }
  
  
  .contact{
    display: flex;
  }
  
  .contact-panel .container .content{
    background-color: initial;
  }
  
  .contact > div{
    height: 350px;
    flex: 1;
  
  }
  
  .contact > div:first-of-type{
    background-color: #00508d9d;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact > div:last-of-type{
    background-color: #005da498;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact > div > div:last-of-type{
    display: flex;
  flex-direction: column;
  width: 600px;
  }
  
  
  
  .contact form{
    display: flex;
    flex-direction: column;
    width: 600px;
  }
  
  .contact form *{
    margin: .25rem 0;
    padding: 0;
  }
  
  .contact form input{
    padding: 0.25rem 0.25rem;
    font-size: 1rem;
  }
  
  .contact form textarea{
    padding-left: 0.25rem;
    font-size: 0.95rem;
    width: 100%;
    resize: none;
    height: 7rem;
  }
  
  .contact form button{
    background-color: #006DBD;
    color: white;
    border-radius: 4px;
    padding: .3rem .6rem;
    border: none;
  }
  
  /* scrollbar */
  
  
  .container::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  form button{
    background-color: #006DBD;
    color: white;
    border-radius: 4px;
    padding: .6rem .6rem;
    border: none;
    font-size: 1.2rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
  }
  
  form button:hover:after{
    animation: shine 2s ease-in-out;
    animation-fill-mode: forwards;
    content: "";
    position: absolute;
    top: -20%;
    left: -150%;
    width: 150%;
    height: 150%;
    opacity: 0;
    transform: rotate(0deg);
    background: rgba(175, 218, 59, 0.13);
    background: linear-gradient(
        45deg, 
        rgba(255, 255, 255, 0.13) 0%,
        rgba(255, 255, 255, 0.13) 20%,
        rgba(255, 255, 255, 0.774) 90%,
        rgba(255, 255, 255, 0.0) 100%
    )
  }
  
  @keyframes shine{
    10% {
        opacity: 1;
        top: -20%;
        left: 0%;
    }
    100% {
        opacity: 1;
        top: -20%;
        left: 0%;
    }
  }